body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
}

h1, h2, h3 {
  margin: 0;
  text-align: center; 
  color: #333; 
  font-weight: normal; 
  font-size: 24px;
}

p {
  margin: 0.5rem 0;
}

button {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #007bff;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.label-form h2 {
  color: #007bff;
  padding: 10px 0;
}

input[type="text"],
input[type="file"],
select {
  padding: 12px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
select:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.label-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.annotation-canvas {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #e6f7ff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: crosshair;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.annotation-canvas img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border: none;
}

.image-uploader {
  margin-bottom: 20px;
}

.project-form h2 {
  color: #007bff;
  padding: 10px 0;
}

.annotation-box {
  position: absolute;
  border: 2px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2px;
  box-sizing: border-box;
}

.annotation-box span {
  color: black;
  z-index: 1;
}

.annotation-box button {
  background: transparent; 
  border: none; 
  color: red; 
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}

.image-uploader input[type="file"] {
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.project-form {
  margin-bottom: 50px; 
  margin-top: 50px; 
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-container button {
  width: 120px;
  margin: 0 10px;
}

.file-input {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #61dafb;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}

.features-section {
  padding: 2rem;
  background-color: #f0f8ff;
  text-align: center;
}

.features-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.features-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.feature-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem;
  flex: 1;
  height: 250px;
  transition: transform 0.3s;
}

.feature-card:nth-child(1) {
  background-color: #e6f7ff;
}

.feature-card:nth-child(2) {
  background-color: #d1e7dd;
}

.feature-card:nth-child(3) {
  background-color: #fff3cd;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-title {
  font-size: 1.5rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.feature-description {
  color: #666;
}

.hero-section {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f7f7f7;
  height: 5cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hero-slogan {
  font-size: 1.2rem;
  color: #666;
  white-space: nowrap;
  display: inline-block;
  animation: marquee 10s linear forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}